<h1>System Status</h1>
<ul class="systems">
  <% @services.each do |serv| %>
    <li>
      <span><%= serv.name%></span>
      <%= serv.current_status.try(:title)%>
    </li>
  <% end %>
</ul>

<% @statuses.each do |date,array| %>
  <h3><%= date %></h3>
  <% array.each do |status|%>
    <h4>
      <%= image_tag(status.image_path ) if status.image_path %>
      <span class="service"><%= status.service.try(:name) %></span>
      <%= status.title %>
      <span class="time"><%= status.formatted_time%></span>
      <% if can? :manage, status %>
        <%= link_to 'Edit', edit_status_path(status) %>
        <%= link_to 'Destroy', status, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </h4>
    <%= simple_format status.description if status.description%>
  <% end %>
<% end %>

<br />

<%= link_to 'New Status', new_status_path if can? :manage, Status.new%>
