<% javascript "get_local_time"%>
<% content_for :title do %>
  System Status <span>as of</span> <span id="utc"><%= l Time.zone.now.utc, :format => :as_of%></span>
<% end %>
<h2>Current Status</h2>
<ul class="services">
  <% @services.each do |serv| %>
    <li class="<%= class_for_service(serv) %>">
      <span><%= serv.name%>:</span>
      <%= serv.current_status.try(:title)%>
    </li>
  <% end %>
</ul>

<% @statuses.each do |date,array| %>
  <h3><%= date %></h3>
  <div class="details">
    <% array.each do |status|%>
      <h4>
        <%= image_tag(status.image_path ) if status.image_path %>
        <span class="service"><%= status.service.try(:name) %></span>
        <%= status.title %>
        <span class="time"><%= status.formatted_time%></span>
        <% if can? :manage, status %>
          <%= link_to 'Edit', edit_status_path(status) %>
          <%= link_to 'Destroy', status, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </h4>
      <%= simple_format status.description if status.description%>
    <% end %>
  </div>
<% end %>

<br />

<%= link_to 'New Status', new_status_path if can? :manage, Status.new%>
