<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Is online:</b>
  <%= @category.is_online %>
</p>

<p>
  <b>Is offline:</b>
  <%= @category.is_offline %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
