<div class="sidebar">
  <h2 class="first">Our Uptime</h2>
  <ul>
    <li><strong>Last 3 months:</strong> <%= link_to number_to_percentage( @uptime[3], :precision => 5), calendar_path %></li>
    <li><strong>Last 6 months:</strong> <%= link_to number_to_percentage( @uptime[6], :precision => 5)  %></li>
    <li><strong>Last Year:</strong> <%= link_to number_to_percentage( @uptime[12], :precision => 5)  %></li>
  </ul>
  <h2>Contact Us</h2>
  <p>You can get in touch with us at:</p>
  <ul>
    <li><%= mail_to "support@assignr.com", "support@assignr.com", :encode => "javascript" %></li>
    <li><%= link_to "@assignr", "http://twitter.com/assingr"%> via Twitter</li>    
  </ul>
  <ul>
    <li><%= image_tag "feed.png" %><%= link_to "RSS Feed", statuses_url(:format => "rss")%></li>    
  </ul>
</div>